/* style.css */
body{
  background: rgb(245,245,245);
  color: hotpink;
  font-size: 50px;
  font-family: cursive;
}
h1{
  font-family: revert;
  color: hotpink;
  font-weight: lighter;
  font-size: 40px;
}
h2 {
  font-family: sans-serif;
  color: rebeccapurple;
  font-weight: lighter;
  font-size: 23px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
