/* style.css */
body{
  background: rgb(15,5,107);
  color: hotpink;
  font-size: 50px;
  font-family: cursive;
}
h1{
  font-family: goldman;
  color: hotpink;
  font-weight: normal;
  font-size: 40px;
}
h2 {
  font-family: montserrat;
  color: floralwhite;
  font-weight: normal;
  font-size: 23px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
.ninho{
    width: 400px;
}